body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .header-logo {
    width: 50px;
    height: auto;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 80px); /* Adjusted to account for the header */
  }
  
  .sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .main-content {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
  }
  
  #filters {
    margin-bottom: 20px;
  }
  
  #brand-list,
  #price-range {
    margin-bottom: 20px;
  }
  
  #hits,
  #pagination {
    margin-bottom: 20px;
  }
  